@using RazorLight
@model  List<WebApplication.Models.BookModel>
@{
    Layout = "Layout.cshtml";
}

<h1>Favorite Books</h1>
<div class="book-collection">
    
    @if (@Model is not null)
    {
        @foreach (var book in @Model)
        {
            <div class="book-card">
                <img src="https://example.com/book1.jpg" alt="Book 1 Image">
                <h2>@book.Title</h2>
                <p>Year: @book.PublicationYear</p>
                <p class="rating">Rating:
                    @for (var i = 0; i < @book.Rating; i++)
                    {
                        <span>★</span>
                    }
                </p>
                
                <p>Description: @book.Description</p>
                <button class="btn edit-btn" onclick="editBook(1)">Edit</button>
                <button class="btn delete-btn" onclick="deleteBook(1)">Delete</button>
            </div>
        }
        
    }
    else
    {
        <p>No books available</p>
    }
    

</div>

<!-- Floating "Add Book" Button -->
<a href="/addBook">
    <button class="floating-button"> Add Book</button>
</a>