@{
    Layout = "Layout.cshtml";
}

<div class="section">
    <a href="/">
        <button id="get-all-playlists">Refresh Playlists</button>
    </a>

    <div id="playlists-container">

        @foreach (var playlist in @Model)
        {
            <div class="playlist-item">
                <a href="/playlist/@playlist.Id">
                    [@playlist.Id]<strong>@playlist.Name</strong>
                    <div>5 songs</div>
                    <small>@playlist.Description</small>
                </a>
            </div>
        }
    </div>
</div>