<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The SwytchList</title>
  <link rel="stylesheet" href="/swytchserver/static/style.css"/>
  <link rel="icon" type="image/x-icon" href="/swytchserver/static/logo-5.png">

</head>
<body>
<header>
  <div class="tape-deck">
    <div class="control-lights">
      <div class="light red"></div>
      <div class="light green"></div>
    </div>
    <div class="tape-spools">
      <div class="spool"></div>
      <div class="spool"></div>
    </div>
  </div>
  <h1>SWYTCHLIST</h1>
  <p class="tagline">Your playlist manager</p>
  <div class="now-playing" id="now-playing">Ready to mix some tunes...</div>
</header>

<div class="main-container">
  <div class="tabs">
    <div class="tab" data-content="browse"><a href="/">Browse Playlists</a></div>
    <div class="tab" data-content="create"><a href="/create-playlist">Create Playlist</a></div>
    <div class="tab" data-content="add-song"><a href="/add-song">Add Song</a></div>
    <div class="tab" data-content="delete"><a href="/delete-playlist">Delete Playlist</a></div>
  </div>
  @RenderBody()
</div>

<footer>
  Powered by <a href="https://github.com/Gwali-1/Swytch" target="_blank">SWYTCH</a> &copy; <span id="year"></span>
</footer>


<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
</body>
</html>