@{
    Layout = "Layout.cshtml";
}

<div class="section">
    <div class="tab-container">
        <div class="tab-content" id="add-song-tab">
            <h3>Add Song to Playlist</h3>
            <input type="text" id="add-song-playlist-id" placeholder="Playlist ID">
            <input type="text" id="add-song-title" placeholder="Song title">
            <input type="text" id="add-song-artist" placeholder="Artist">
            <input type="text" id="add-song-duration" placeholder="Duration (e.g., 3:45)">
            <button id="add-song">Add Song</button>
        </div>
    </div>
</div>