@{
    Layout = "Layout.cshtml";
}

<div class="section">
    <div class="section-header">
        <h2>Create New Playlist</h2>
    </div>
    <div class="tab-container">
        <div class="tab-content active" id="create-tab">
            <form method="post" action="/create-playlist">
                <input name="name" type="text" id="new-playlist-name" placeholder="Playlist name">
                <textarea name="description" id="new-playlist-description" placeholder="Description (optional)"
                          rows="3"></textarea>
                <button type="submit" id="create-playlist">Create Playlist</button>
            </form>
        </div>
    </div>
</div>