@{
    Layout = "Layout.cshtml";
}

<div class="section">
    <div class="section-header">
        <h2>Delete Playlist</h2>
    </div>
    <div class="tab-container">
        <div class="tab-content active" id="delete-tab">
            <form method="post" action="/delete-playlist">
                <input name="playlistId" type="text" id="delete-playlist-id" placeholder="Playlist ID">
                <button type="submit" id="delete-playlist">Delete Playlist</button>
            </form>
        </div>
    </div>
</div>