@{
    Layout = "Layout.cshtml";
}

<div class="section">
    <div class="tab-container">
        <div class="tab-content" id="delete-tab">
            <h3>Delete Playlist</h3>
            <input type="text" id="delete-playlist-id" placeholder="Playlist ID">
            <button id="delete-playlist">Delete Playlist</button>
        </div>
    </div>
</div>